@charset "utf-8";

:root{
  --h1-bg-color: #114B5F;
  --h2-bg-color: #1A936F;
  --body-bg-color: #FFF9F9;
  --nav-bg-color: #C6DABF;
  --nav-link-bg-color1: #1A936F;
  --nav-link-bg-color2: #88D498;
	
  --nav-link-text-color: white;
  --h1-text-color: white;
  --h2-text-color: white;
}

body{
	font-family: sans-serif;
	background-color: #FFF9F9;
	background-color: var(--body-bg-color);
}

h1{
	text-align: center;
	background-color: #114B5F;
	background-color: var(--h1-bg-color);
	display: block;
	position: relative;
	padding: 10px;
	color: white;
	color: var(--h1-text-color);
}

h2{
	padding: 5px;
	margin-right: 20px;
	background-color: #1A936F;
	background-color: var(--h2-bg-color);
	color: white;
	color: var(--h2-text-color);
	
}

button{
	background-color: #114B5F;
	color: white;
	border-radius: 3px;
	border: 2px solid #88D498;
	padding: 3px;
	transition: 0.5s;
	font-size: 15pt;
}

button:hover{
	background-color: #88D498;
	
}

#contact-text{
	position: relative;
	top: -40px;
}

/* Navigation -------------------------------------- */

/* desktop ------------------ */

#navigation-desktop{
	position: fixed;
	width: 15%;
	height: 100vh;
	right: 10px;
	background-color: #C6DABF;
	background-color: var(--nav-bg-color);
	top: 0px;
	
}

#navigation-desktop h2{
	visibility: hidden;
}

#navigation-desktop a{
	text-decoration: none;
	background-color: #1A936F;
	background-color: var(--nav-link-bg-color1);
	padding: 10px;
	margin: 8px 10px 2px 10px;
	display: block;
	font-size: 14pt;
	text-align: center;
	transition: 0.5s;
	color: white;
	color: var(--nav-link-text-color);
	
}

#navigation-desktop a:visited{
	color: white;
	color: var(--nav-link-text-color);
}

#navigation-desktop a:hover{
	background-color: #88D498;
	background-color: var(--nav-link-bg-color2);
}

/* mobile ------------------ */

.mobile-nav-link{
	text-decoration: none;
	padding: 10px;
	margin: 0px;
	display: block;
	font-size: 14pt;
	text-align: center;
	transition: 0.5s;
	position: relative;
	
}

.mobile-nav-link:visited{
	color: black;
	text-decoration: none;
}

#navigation-mobile{
	position: relative;
	width: 101%;
	display: none;
	top: -11px;
	margin: 0px, 0px, 5px, 0px;
	
	
}

h2{
	width: 82%;
	position: absolute;
	display: block;
	padding: 15px 10px;
	margin-bottom: 10px;
	top: -20px;
}

#about-me-container{
	background-color: #114B5F;
	width: 40%;
	position: relative;
	height: 590px;
	top: 60px;
}

#about-me-picture{
	width: 40%;
	background-color: white;
	padding: 20px 15px 40px 15px;
	margin: 10px 25%;
	box-shadow: 3px 8px 10px;
}

#about-me-desc{
	background-color: #C6DABF;
	padding: 10px;
}

#skills-list{
	position: relative;
	top: -50px;
}

#skills-container{
	position: relative;
	display: block;
	left: 42%;
	width: 40%;
	bottom: 555px;
	height: 590px;
	background-color: #C6DABF;
}

#skills-header{
	font-size: 20pt;
	padding: 5px 10px;
	font-weight: bold;
	color: white;
	background-color: #1A936F;
}

li{
	width: 30%;
}

li.language{
	margin: 2px 0px;
	padding: 2px;
}

li.language-cont{
	margin: 0px;
	padding: 2px;
}

li.software{
	margin: 2px 0px;
	padding: 2px;
}

li.li-heading{
	list-style-type: none;
	background-color: #1A936F;
	color: white;
	padding: 5px;
	font-weight: bold;
	width: 80%;
}

#contact-container{
	width: 80%;
	height: 300px;
	position: relative;
	bottom: 500px;
}

#contact-header{
	position: relative;
	background-color: #1A936F;
	color: white;
	padding: 5px;
	font-weight: bold;
	width: 102%;
	font-size: 20pt;
	top: -40px;
}

/* --------------------- media queries --------------------- */

@media only screen and (max-width: 1290px) {
	h2{width: 79.5%;}
	#skills-list{top: -65px;}
}

/* Smaller title font size when screen is smaller */
@media only screen and (max-width: 1080px) {
	h1{font-size: 16pt;}
}
/* Move the navigation to the top of the screen
   for smaller devices. */
@media only screen and (max-width: 800px) {
	
	#contact-container{bottom: -90px;}
	
	#contact-header{width: 100%;}
	
	h2{
		width: 98%;
		position: relative;
		top: 3px;
	}
	
	#skills-container{
		left: 0px;
		width: 100%;
		bottom: auto;
		top: 50px;;
		height: 590px;
	}
	
	#about-me-container{
		width: 100%;
		top: auto;
		bottom: auto;
		
	}
	
    #navigation-desktop{
		display: none;
	}
	
	#navigation-mobile{
		display: block;
	}
	
	#navigation-mobile h2{margin: 0px;}
	
	.mobile-nav-link{display: none;}

}
