@charset "utf-8";

:root{
  --h1-bg-color: #114B5F;
  --h2-bg-color: #1A936F;
  --body-bg-color: #FFF9F9;
  --nav-bg-color: #C6DABF;
  --nav-link-bg-color1: #1A936F;
  --nav-link-bg-color2: #88D498;
	
  --nav-link-text-color: white;
  --h1-text-color: white;
  --h2-text-color: white;
}

body{
	font-family: sans-serif;
	background-color: #FFF9F9;
	background-color: var(--body-bg-color);
}

#header{
	text-align: center;
	background-color: #114B5F;
	background-color: var(--h1-bg-color);
	display: block;
	position: relative;
	padding: 10px;
	margin: 0px, 0px, 5px, 0px;
	color: white;
	color: var(--h1-text-color);
}

h2{
	padding: 5px;
	background-color: #1A936F;
	background-color: var(--h2-bg-color);
	color: white;
	color: var(--h2-text-color);
	margin: 0px;
	
}

button{
	background-color: #114B5F;
	color: white;
	border-radius: 3px;
	border: 2px solid #88D498;
	padding: 3px;
	transition: 0.5s;
}

button:hover{
	background-color: #88D498;
	
}

/* Navigation -------------------------------------- */


/* mobile ------------------ */

.mobile-nav-link{
	text-decoration: none;
	padding: 10px;
	margin: 0px;
	display: block;
	font-size: 14pt;
	text-align: center;
	transition: 0.5s;
	position: relative;
	
}

.mobile-nav-link:visited{
	color: black;
	text-decoration: none;
}

#navigation-mobile a{
	position: relative;
	width: 101%;
	display: none;
	top: -11px;
	margin: 5px 0px 5px 0px;
	
	
}
/* --------------------------------------------- */

div.video{
	position: relative;
	width: 70%;
	float: right;
}

#video1{
	position: relative;
  	width: 100%;
	height: 100%;
	
}

div.photos{
	width: 30%;
	height: 40%;
	float: left;
}

section{
	background-color: #C6DABF;
}

#poster-img-1{
	position: relative;
	left: 10%;
}

#poster-img-2{
	position: relative;
	left: 10%;
}

/* sections containing images */
#content{
	position: relative;
	width: 100%;
	
}

/* format each image to be the same width and height */
img.image-container-small{
	display: inline;
	position: relative;
	height: 200px;
	width: 300px; 
	object-fit: cover;
	
}

img.image-container-large-wide{
	display: inline;
	position: relative;
	height: 80%;
	width: 90%; 
	object-fit: contain;
	
}

img.image-container-medium{
	display: inline;
	position: relative;
	height: 250px;
	width: 350px;
	object-fit: cover;
	
}

@media only screen and (max-width: 1445px) {
    div.photos, div.video{
		width: 100%;
		float: none;
	}

	#poster-img-1{
		position: relative;
		left: 0%;
	}

	#poster-img-2{
		position: relative;
		left: 0%;
	}

	section{
	background-color: #C6DABF;
}

	
}




