@charset "utf-8";

:root{
  --h1-bg-color: #114B5F;
  --h2-bg-color: #1A936F;
  --body-bg-color: #FFF9F9;
  --nav-bg-color: #C6DABF;
  --nav-link-bg-color1: #114B5F;
  --nav-link-bg-color2: #88D498;
	
  --nav-link-text-color: white;
  --h1-text-color: white;
  --h2-text-color: white;
}

body{
	font-family: sans-serif;
	background-color: var(--body-bg-color);
}

#header{
	text-align: center;
	background-color: var(--h1-bg-color);
	display: block;
	position: relative;
	padding: 10px;
	margin: 0px, 0px, 5px, 0px;
	color: var(--h1-text-color);
}

section{
	position: relative;
	padding: 3px;
	
}

h2{
	padding: 5px;
	margin-right: 20px;
	background-color: var(--h2-bg-color);
	color: var(--h2-text-color);
	
}

button{
	background-color: #114B5F;
	color: white;
	border-radius: 3px;
	border: 2px solid #88D498;
	padding: 3px;
	transition: 0.5s;
}

button:hover{
	background-color: #88D498;
	
}

div.video{
	position: relative;
	width: 85%;
	float: left;
}

#video2{
	position: relative;
  	width: 100%;
	height: 100%;
	
}

/* Navigation -------------------------------------- */

/* desktop ------------------ */

#navigation-desktop{
	position: fixed;
	width: 35%;
	right: 10px;
	background-color: var(--nav-bg-color);
	top: 130px;
	
}

#navigation-desktop a{
	text-decoration: none;
	background-color: var(--nav-link-bg-color1);
	padding: 10px;
	margin: 8px 10px 2px 10px;
	display: block;
	font-size: 14pt;
	text-align: center;
	transition: 0.5s;
	color: var(--nav-link-text-color);
	
}

#navigation-desktop a:visited{
	color: var(--nav-link-text-color);
}

#navigation-desktop a:hover{
	background-color: var(--nav-link-bg-color2);
}

/* mobile ------------------ */

.mobile-nav-link{
	text-decoration: none;
	background-color: var(--nav-link-bg-color1);
	padding: 10px;
	margin: 0px;
	display: block;
	font-size: 14pt;
	text-align: center;
	transition: 0.5s;
	color: var(--nav-link-text-color);
	
}

.mobile-nav-link:visited{
	color: var(--nav-link-text-color);
}

.mobile-nav-link:hover{
	background-color: var(--nav-link-bg-color2);
}

#navigation-mobile{
	position: relative;
	width: 100%;
	background-color: var(--nav-bg-color);
	display: none;
	margin: 0px, 0px, 5px, 0px;
	
	
}

/* Index Page ----------------------------------- */

/* sections containing images */
#content{
	position: relative;
	width: 65%;
	float: left;
	
}

/* format each image to be the same width and height */
img.image-container-small{
	display: inline;
	position: relative;
	height: 200px;
	width: 300px; 
	object-fit: cover;
	
}

img.image-container-large-wide{
	display: inline;
	position: relative;
	height: 80%;
	width: 90%; 
	object-fit: contain;
	
}

img.image-container-medium{
	display: inline;
	position: relative;
	height: 250px;
	width: 350px;
	object-fit: cover;
	
}

#mobile-resume{
	display: none;
}

#mobile-resume-img{
	position: relative;
	width: 90%;
}

/* --------------------- media queries --------------------- */

/* Move the navigation to the top of the screen
   for smaller devices. */
@media only screen and (max-width: 800px) {
    #navigation-desktop{
		display: none;
	}
	
	#navigation-mobile{
		display: block;
		background-color: #FFF9F9;
	}
	
	h2{
		margin: 0px;
	}
	
	section{
		width: 100%;
	}
	
	.mobile-nav-link{
		display: none;
	}
	
	#image-desc{
		width: 96%;
	}
	
	#content{
		width: 100%;
	}
	
	#mobile-resume{
		display: block;
	}
	
	#resume-object{
		display: none;
	}

}


