@charset "utf-8";

body{
	background-color: #26547C;
	font-family: sans-serif;
}

li{ font-family: sans-serif;}

legend{
	background-color: #06D6A0;
	border: none;
	width: 100%;
	padding: 3px;
}

form{
	background-color: #FFFCF9;
}

fieldset{
	border: none;
}

input{
	margin: 3px;
}

header{
	background-color: #FFFCF9;
	padding: 3px;
}

#rules-section{
	background-color: #FFFCF9;
}

#submit-button{
	background-color: #FFD166;
	border: none;
	padding: 5px;
	font-size: 16pt;
}

#submit-button:hover{
	background-color: #06D6A0;
}
