@import url('https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap');

*{margin: 0; padding: 0;}

html{scroll-behavior: smooth;}

body{font-family: 'Lato', sans-serif; background-color: #fef3eb;;}

.wrapper{width: 100%;}

/* navigation ---------------------------------------------------*/

.navigation{
	width: 100%;
	/*background-color: #bad1cd;*/
	background-color: #fef3eb;
	text-align: center;
	padding: 45px 0px;
	position: fixed;
	z-index: 1;
	display: none;
}

.nav-link{
	font-size: 14pt;
	text-decoration: none;
	text-align: center;
	color: #23030f;
	transition: ease .7s;
	 -webkit-transition: ease .7s;
}

.navigation li{color: #23030f;}

.nav-link:hover{color: #f29559;}

/* end navigation -----------------------------------------------*/

p.small-text{position: relative; text-align: center; font-size: 12pt; color: #230c0f; padding-top: 90px;}

.header{
	width: 100%;
	height: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.header::before{
	  pointer-events: none;
	  content: "";
      background-image: url('images/purple-plant.svg');
      background-size: cover;
      position: absolute;
      top: -150px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.1;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 28pt;
	text-align: center;
	color:  #23030f;
	margin: 20px 0px 20px 0px;
}

.header li, .navigation li{
	display: inline-block;
}

/* dark bg, light text */
.section-heading{
	width: 100%;
	height: 80px;
	padding-top: 55px;
	color: #230c0f;
	font-size: 16pt;
	text-align: center;
}

/* white bg, dark text */
.section-heading2{
	width: 100%;
	height: 80px;
	padding-top: 110px;
	padding-bottom: 80px;
	color: #23030f;
	font-size: 16pt;
	text-align: center;
}

h2{font-size: 25pt;}

/* work section ---------------------------------------------------*/

.work-section{
	 background-color: #fef3eb;
	 width: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 text-align: center;
}

.work-section .image-container{
	height: 500px;
	width: 25%;
	contain: content;
}

.work-section .image-container img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

#expand-thumbnail{
	display: none;
	background-color: #bad1cd;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	text-align: center;
}

.project-link-container{
	text-align: center;
	margin-bottom: 20px;
}

.project-link{
	color: #717171;
	text-decoration: none;
	border-radius: 20px;
	padding: 10px;
	background-color:white;
	cursor: pointer;
	transition: ease .7s;
	text-align: center;
}

.project-row .text-container {
	float: right;
	clear: right;
	width: 50%;
	text-align: center;
	height: 70%;
}

.project-row .text-container p{
	text-align: left;
	padding: 20px;
}

.project-row .thumbnails{
	float: right;
	clear: right;
	width: 50%;
	height: 30%;
	text-align: center;
}

.project-row .thumbnail-container{
	display: inline-block;
	transition: 0.6s ease;
	cursor: pointer;
}

.project-row .thumbnail-container img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	vertical-align: middle;
}

.small{
	width: 30%;
	height: 30%;
}

.big{
	width: 80%;
	height: 80%;
}

#about{
	text-align: center;
	contain: content;
	margin-bottom: 50px;
}

#about .text-container{
	width: 60%;
	margin: 0 auto;
	text-align: left;
}

#about .image-container {
	display: inline-block;
	width: 50%;
	margin-bottom: 20px;
}

#about .image-container img{
	object-fit: contain;
	width: 50%;
}

.project-slide{
	display: none;
}

.first-slide{
	display: inline-block;
}

.project-row{
	margin-top: 100px;
	width: 100%;
	contain: content;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

  .prev {
	left: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }

  /* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade{
	animation-name: fade;
	animation-duration: 1.5s;
  }

  #big-thumbnail{
	  width: 50%;
	  margin: 0 auto;
  }

  .minimize {
	  padding: 20px;
	  font-size: 1.5em;
	  background-color: white;
	  color: #717171;
	  cursor: pointer;
	  border-radius: 50px;
	  float: right;
	  width: 50px;
	  height: 30px;
	  margin: 20px;
	  text-align: center;
	  transition: ease .7s;
  }

  .minimize:hover{
	width: 60px;
	border-radius: 60px;
	height: 40px;
	color: #bbb;
	font-size: 2em;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

.blue-bg{background-color: #bad1cd;}

.project-row .image-container {
	float: left;
	clear: both;
	width: 50%;
	height: 100%;
}

.project-row img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.little-button{
	display: inline-block;
	background-color: #f29559;
	width: 20%;
	text-align: center;
	padding: 10px;
	margin: 0px 15px;
	font-weight: bold;
	transition: ease .7s;
	 -webkit-transition: ease .7s;
}

.little-button:hover{
	background-color: #ffb885;
}

.button-link{
	text-decoration: none;
	color: black;
}

/* end work section -----------------------------------------------*/

.contact-section{
	height: 80vh;
	text-align: center;
	background-color: #ede3e4;
	padding: 20px;
}

.text-section{
	background-color: #ede3e4;
	width: 100%;
	height: 100%;

}

.text-container .title{
	font-weight: bold;
	font-size: 14pt;
	padding: 0px 0px 20px 0px;
	color: #230c0f;
	line-height: 1.6;
}

.text-container .subtitle{
	font-weight: bold;
	font-size: 13pt;
	padding: 20px 0px 20px 0px;
	color: #230c0f;
}

.text-container.desc{
	font-size: 12pt;
}

.text-container ul{
	display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    padding-left: 20px;
	line-height: 1.5;
}

.text-section .list-indent{list-style-position: inside;}

/* end about / contact / text section ----------------------------------------------*/


@media (max-width: 800px) {
	.work-section .project-row {
	  flex-direction: column;
	}

	.work-section .image-container {
		width: 100%;
		margin-top: 20px;
	}

	.project-row .image-container {
		width: 100%;
		text-align: center;
	}
	.project-row .text-container {
		width: 100%;
	}
	#about .image-container {
		width: 100%;
	}
	#about .text-container{
		width: 90%;
	}
	.project-row .text-container {
		width: 100%;
	}
	.project-row .thumbnails{
		width: 100%;
	}
	#big-thumbnail{
		width: 100%;
	}
  }